target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Database files
/data/kipia_management.db
/data/kipia_management.db-journal

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Пути к базе и логам #
/src/main/resources/logs/kipia-management-dev.log
/src/main/resources/data/kipia_management.db

# Конфиденциальные данные
.env
.env.*
*.local

# Базы данных
*.db
*.sqlite

# Ключи
*.pem
*.key